@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

:root {
  /* --blue: #0379ff;
  --light-blue: #9ac9ff;
  --dark-blue: #0261cc;
  --white: #fff; */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: var(--light-blue);
  background-color: var(--blue);
  background-image: url(./assets/2569.jpg);
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  padding: 2.5rem;
}

svg {
  position: absolute;
  top: 0;
}

.content * {
  margin-bottom: 1rem;
}

.content h1 {
  font-family: "Alex Brush", cursive;
  color: var(--white);
  font-size: 4rem !important;
  line-height: 1;
  margin-top: 320px;
  color: #3d3e3f;
  text-align: center;
}

.content h2 {
  font-size: 1.2rem !important;
  color: #3d3e3f;
  margin-top: 2rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
.forc {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 8px;
}

.byline {
  position: absolute;
  right: 2.5rem;
}

.date {
  position: absolute;
  bottom: 2.5rem;
  font-size: 0.75rem;
}

.bold {
  font-weight: 500;
}
